<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <title>E-Commerce</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body ng-app="mainApp" ng-cloak>

    <h2>Online Course Store</h2>

    <!-- NAVIGATION BAR STARTS HERE -->

    <div ng-controller="AppCtrl" ng-cloak>
        <md-content class="md-padding">
            <md-nav-bar md-selected-nav-item="currentNavItem" md-no-ink-bar="true" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="goto()" name="page1" ng-disabled="true">
                    Home
                </md-nav-item>
                <md-nav-item md-nav-click="goto('courses')" name="page2" ng-disabled="true">
                    Courses
                </md-nav-item>
                <md-nav-item md-nav-click="goto()" name="page3" ng-disabled="true">
                    About
                </md-nav-item>
                <md-nav-item md-nav-click="goto()" name="page4 " ng-disabled="true ">
                    Contact Us
                </md-nav-item>
            </md-nav-bar>
        </md-content>

        <!-- NAVIGATION BAR ENDS HERE -->

        <!-- PAYMENT GATEWAY -->
        <div class="container">
            <h1 style="text-align: center">PayUMoney Payment Request Form </h1>
            <h2 style="text-align: center">
                You have choose course with course id :
                <%= id %>
            </h2>
            <h2 style="text-align: center">YOUR TOTAL AMOUNT IS : <i class="fa fa-inr"></i> 1.00</h2>

            <form action="/pay" method='POST'>
                <div layout="column" layout-padding ng-cloak>
                    <br/>
                    <md-content class="md-no-momentum">
                        <md-input-container class="md-icon-float md-block">
                            <!-- Use floating label instead of placeholder -->
                            <md-icon md-svg-src="/images/icons/ic_perm_identity_black_24px.svg" class="name"></md-icon>
                            <input name="name" type="text" placeholder="Name" ng-required="true">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <md-icon md-svg-src="/images/icons/ic_phone_black_24px.svg"></md-icon>
                            <input name="phone" type="number" placeholder="Phone Number" ng-required="true">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <!-- Use floating placeholder instead of label -->
                            <md-icon md-svg-src="/images/icons/ic_email_black_24px.svg" class="email"></md-icon>
                            <input name="email" type="email" placeholder="Email (required)" ng-required="true">
                        </md-input-container>

                        <md-input-container md-no-float class="md-block">
                            <md-icon md-svg-src="/images/icons/ic_place_black_24px.svg" style="display:inline-block;"></md-icon>
                            <input name="address" type="text" placeholder="Address">
                        </md-input-container>
                    </md-content>

                    <input type="submit" value="Pay">
                </div>
            </form>
        </div>
    </div>


    <footer id="footer">
        <p>Developed with <i class="fa fa-heart heart" aria-hidden="true"></i> by Darpan Jyoti Bora © 2018</p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js "></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js "></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js "></script>

    <script type="text/javascript " src="/javascripts/admin.controller.js "></script>
</body>

</html>