body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0;
}

.heart {
    color: red;
}

#footer {
    border-top: 1px solid #c5c5c5;
    color: #c5c5c5;
    font: 16px/1 kefa, 'droid sans', georgia, serif;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
    width: 960px;
}

.inputdemoIcons {
    /*
  .right-icon {
    position: absolute;
    top: 4px;
    right: 2px;
    left: auto;
    margin-top: 0;
  }
  */
}

.inputdemoIcons .inputIconDemo {
    min-height: 48px;
}

.inputdemoIcons md-input-container:not(.md-input-invalid)>md-icon.email {
    color: green;
}

.inputdemoIcons md-input-container:not(.md-input-invalid)>md-icon.name {
    color: dodgerblue;
}

.inputdemoIcons md-input-container.md-input-invalid>md-icon.email,
.inputdemoIcons md-input-container.md-input-invalid>md-icon.name {
    color: red;
}